.workplace {
    width: 1380px;
    height: 420px;
}

.objects {
    margin-left: 10px;
    overflow-x: auto; 
}

.likebtn {
    height: 25px;
    width: 80px;
    margin-top: 50px;
    padding: 2px;
    font-size: 15px;
    color: #fff;
    background-color: rgb(48, 65, 100);
    border-radius: 5px;
}

span {
    height: 140px;
    width: 250px;
    margin: 8px 5px;
    display: inline-block;
    padding: 20px;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    
}